Django==3.2
amqp==2.5.2
django-cors-headers==3.5.0
djangorestframework==3.12.1
python-decouple==3.3
djangorestframework-simplejwt==4.5.0
django-scopes==1.2.0
psycopg2-binary==2.8.5
Pillow==7.2.0
gunicorn==20.1.0
ipdb==0.13.4
inflection==0.5.1
pika==1.1.0
django-mongoengine==0.4.4
django-rest-framework-mongoengine==3.4.1

../campuscom-shared-models
../marketplace-shared-lib
../marketplace-shared-models
