ES_BASE_URL=

MONGODB_HOST=
MONGODB_DATABASE=
MONGODB_PORT=
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_AUTH_DATABASE=

ENGINE=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
ACCESS_TOKEN_LIFETIME=
API_URL=
DEBUG=0
SECRET_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_CUSTOM_DOMAIN=
AWS_S3_IMAGE_DIR=

AMQP_HOST=
AMQP_PORT=
AMQP_USER=
AMQP_PASS=
